@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 40, 44, 51; /* Updated to match #282C33 */
  --background-end-rgb: 40, 44, 51;   /* Updated to match #282C33 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 44, 51; /* Updated to match #282C33 */
    --background-end-rgb: 40, 44, 51;   /* Updated to match #282C33 */
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: 'Fira Code', monospace; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
