.animated-border {
  /* position: relative; */

}

.animated-border::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(25, 233, 223);
  border-radius: 50%;
  animation: move-along-border 5s linear infinite;
}

@keyframes move-along-border {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    left: 0;
  }
}
